.wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.color-preview{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;

  &__square {
    height: 100%;
    border-radius: 5px;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__info {
    color: gray;
    mix-blend-mode: difference;
  }

}
