$colorItemSize: 25px;
$marginValue: 20px;

.color-picker {

  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  position: relative;

  &__btn {
    background-color: rgb(41, 204, 41);
    color: white;
    font-weight: 600;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
  }

  &__title {
    margin-bottom: $marginValue;
  }

  &__selected-block {
    margin-bottom: $marginValue;
    min-height: $colorItemSize;
  }

  &__selected-item {
    text-align: center;

    span {
      color: gray;
      font-size: 13px;
      mix-blend-mode: difference;
    }
  }

  &__not-selected-msg {
    font-size: 14px;
    color: red;
  }

  &__color-list {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    margin-bottom: $marginValue;
  }

  &__color-item {
    display: inline-block;
    width: $colorItemSize;
    height: $colorItemSize;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

	&__advanced {
  }
}


