<div class="color-picker" (clickOutside)="closeColorPicker()">

  <button class="color-picker__btn" (click)="openColorPicker()">change color</button>

  <div *ngIf="isPickerOpen" class="color-picker__body">
    <div class="color-picker__title">Material colors</div>
    <div class="color-picker__selected-block">

      <div *ngIf="selectedColor; else noSelectedColor"
      class="color-picker__color-item color-picker__selected-item"
        title="{{selectedColor?.colorName}}"
        [ngStyle]="{'background-color': selectedColor?.colorName}">
        <span>&#10004;</span>
      </div>

      <ng-template #noSelectedColor>
        <span class="color-picker__not-selected-msg">Color not selected</span>
      </ng-template>

    </div>

    <div class="color-picker__color-list">
      <div *ngFor="let color of colorsList" (click)="selectColor(color)"
      class="color-picker__color-item"
        title="{{color.colorName}}"
        [ngStyle]="{'background-color': color.colorName}">
      </div>
    </div>

    <div class="color-picker__advanced">
      <div class="color-picker__advanced_row">
        <span class="color-picker__advanced_text">Advanced</span>
      </div>
    </div>
  </div>
</div>
